<% layout("/layouts/boilerplate")%>

<div class="alert alert-danger mt-5"  style="display: flex; justify-content: center; align-items: center;" role="alert">
   <h4 class="alert-heading" ><%=message%></h4>
</div>